<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tracker.css' />
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/tracker.js"></script>
  </head>
  <body>
    <div class="nav">
      <h1><%= title %></h1>
      <a href="/logout" target="_self"><span id="uid" class="primary"><%= username %></span></a>
      <span id="errmsg" class="danger"></span>
    </div>
    
    <div id="app">
      <table>
        <thead>
          <tr>
            <th>序号</th>
            <th>日期</th>
            <th>产品</th>
            <th>问题</th>
            <th>描述</th>
            <th>参考</th>
            <th>备注</th>
            <th>执行</th>
            <th>等级</th>
            <th>状态</th>
            <th>结果</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- <form class="template" method="post" action="">
      <label for="date">日期</label>
      <input name="date" type="date">
      <label for="product">产品</label>
      <input name="product" type="text">
      <label for="title">问题</label>
      <input name="title" type="text">
      <label for="info">描述</label>
      <input name="info" type="text">
      <label for="refer">参考</label>
      <input name="refer" type="file">
      <label for="leader">执行</label>
      <input name="leader" type="text">
      <label for="remark">备注</label>
      <input name="remark" type="text">
      <input name="submit" type="submit" value="保存">
      <input name="cancel" type="button" value="取消">
    </form> -->
  </body>
</html>