<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tracker.css' />
    <script src="/assets/jquery/3.6.4/jquery-3.6.4.min.js"></script>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/tracker.js"></script>
  </head>
  <body>
    <div class="nav">
      <h1><%= title %></h1>
      <a href="/logout" target="_self"><span><%= username %></span></a>
      <span id="errmsg" class="danger"></span>
    </div>
    
    <div id="app"></div>
  </body>
</html>