.container {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background-color: #ecf5ff;
	padding: 45px;
	user-select: none;
}

.container div {
	margin: 15px 0px;
	width: 100%;
}

label {
	margin: 2px 5px;
}

input {
	text-align: center;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #909399;
	/*去掉输入时的黑边框*/
	outline: none; 
}

/*取得光标时隐藏占位提示*/
input:focus::placeholder {
	opacity: 0;
}

input:focus {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

input.button {
	background-color: #409EFF;
	color: white;
	border-width: 0;
	padding: 2px 15px;
}

input.button:hover {
	background-color: #79bbff;
}
