* {
	color: #333;
	-webkit-user-select: none;
	user-select: none;
}

.nav {
	width: 100%;
	border-bottom: 2px solid #E6E8EB;
	margin-bottom: 5px;
}

.nav h1 {
	display: inline;
}

table {
	width: 100%;
	max-height: calc(100vh - 100px);
	overflow: auto;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
}

thead {
	color: #606266;
	border-bottom: 1px solid #606266;
}

th,td {
	padding: 5px 2px;
}

tbody tr:hover {
	opacity: 75%;
}

tr.primary {
	background-color: #409EFF;
	background-color: #337ecc;
	background-color: #79bbff;
	background-color: #a0cfff;
	background-color: #c6e2ff;
	/* background-color: #d9ecff; */
	/* background-color: #ecf5ff; */
}

tr.success {
	background-color: #67C23A;
	background-color: #529b2e;
	background-color: #95d475;
	background-color: #b3e19d;
	background-color: #d1edc4;
	/* background-color: #e1f3d8; */
	/* background-color: #f0f9eb; */
}

tr.warn {
	background-color: #E6A23C;
	background-color: #b88230;
	background-color: #eebe77;
	background-color: #f3d19e;
	background-color: #f8e3c5;
	/* background-color: #faecd8; */
	/* background-color: #fdf6ec; */
}

tr.danger {
	background-color: #F56C6C;
	background-color: #c45656;
	background-color: #f89898;
	background-color: #fab6b6;
	background-color: #fcd3d3;
	/* background-color: #fde2e2; */
	/* background-color: #fef0f0; */
}

tr.info {
	background-color: #909399;
	background-color: #73767a;
	background-color: #b1b3b8;
	background-color: #c8c9cc;
	background-color: #dedfe0;
	/* background-color: #e9e9eb; */
	/* background-color: #f4f4f5; */
}

.primary, .low {
	background-color: #409EFF;
	color: white;
}

.success, .resolved, .done {
	background-color: #67C23A;
	color: white;
}

.warn, .medium {
	background-color: #E6A23C;
	color: white;
}

.danger, .high {
	background-color: #F56C6C;
	color: white;
}

.info, .rejected, .close {
	background-color: #909399;
	color: white;
}

a {
	margin-left: 5px;
}

td.index {
	width: 60px;
}

td.date {
	width: 100px;
}

td.product {
	width: 100px;
}
td.product select:disabled {
	color: #333;
	opacity: 1;
}

td.leader {
	width: 80px;
}

td.level {
	width: 60px;
}

td.status {
	width: 80px;
}

td.result {
	width: 80px;
}

#trackerForm {
	width: 100%;
}

div.divider {
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #909399;
}

div.buttonGroup {
	width: 100%;
	text-align: center;
}

form {
	width: 50%;
	padding: 15px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #c6e2ff;
	border: 1px dotted #F56C6C;
}

form div {
	width: 100%;
	margin: 5px auto;
}

form label,input {
	padding: 2px 15px;
}

form button {
	width: 80px;
	margin: 5px;
}

input#title, input#descr, input#remark {
	width: 85%;
}

button#create {
	width: 100%;
	padding: 3px;
	margin: 5px;
}

div.hidden {
	display: none;
}