* {
	color: #606266;
	-webkit-user-select: none;
	user-select: none;
}

.nav {
	width: 100%;
	border-bottom: 2px solid #E6E8EB;
	margin-bottom: 5px;
}

.nav h1 {
	display: inline;
}

table {
	width: 100%;
	max-height: calc(100vh - 45px - 100px);
	overflow: auto;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: left;
}

thead {
	color: #606266;
	border-bottom: 1px solid #606266;
}

th,td {
	padding: 5px 2px;
}

tbody tr:hover {
	background-color: #F2F3F5;
}

tr.primary {
	background-color: #409EFF;
	background-color: #337ecc;
	background-color: #79bbff;
	background-color: #a0cfff;
	background-color: #c6e2ff;
	background-color: #d9ecff;
	/*background-color: #ecf5ff;*/
}

tr.success {
	background-color: #67C23A;
	background-color: #529b2e;
	background-color: #95d475;
	background-color: #b3e19d;
	background-color: #d1edc4;
	background-color: #e1f3d8;
	/*background-color: #f0f9eb;*/
}

tr.warn {
	background-color: #E6A23C;
	background-color: #b88230;
	background-color: #eebe77;
	background-color: #f3d19e;
	background-color: #f8e3c5;
	background-color: #faecd8;
	/*background-color: #fdf6ec;*/
}

tr.danger {
	background-color: #F56C6C;
	background-color: #c45656;
	background-color: #f89898;
	background-color: #fab6b6;
	background-color: #fcd3d3;
	background-color: #fde2e2;
	/*background-color: #fef0f0;*/
}

tr.info {
	background-color: #909399;
	background-color: #73767a;
	background-color: #b1b3b8;
	background-color: #c8c9cc;
	background-color: #dedfe0;
	background-color: #e9e9eb;
	/*background-color: #f4f4f5;*/
}

.primary, .low {
	background-color: #409EFF;
	color: white;
}

.success, .resolved, .done {
	background-color: #67C23A;
	color: white;
}

.warn, .medium {
	background-color: #E6A23C;
	color: white;
}

.danger, .high {
	background-color: #F56C6C;
	color: white;
}

.info, .rejected, .close {
	background-color: #909399;
	color: white;
}

a {
	margin-left: 5px;
}

div#newLine {
	width: 100%;
}

div#newLine input {
	margin-left: 15px;
}

div#newLine select {
	margin-right: 15px;
}

div.btnGroup {
	width: 80px;
	display: inline-flex;
}

td.index {
	width: 60px;
}

td.date {
	width: 100px;
}

td.product {
	width: 100px;
}

td.title {
	max-width: 180px;
	overflow: auto;
}

td.descr {
	color: blue;
}

td.refer {
	max-width: 80px;
}

td.leader {
	width: 80px;
}

td.level {
	width: 60px;
}

td.status {
	width: 80px;
}

td.result {
	width: 80px;
}

td.remark {
	max-width: 120px;
}

td.oper {
	width: 80px;
}

form {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border: 1px dotted #F56C6C;
}

form div {
	width: 100%;
	margin: 3px auto;
}

form label,input {
	padding: 2px 15px;
}

form input.longline {
	width: 90%;
}

form input.button {
	width: 100%;
	padding: 2px;
	border: none;
}

.button:hover {
	opacity: 50%;
	cursor: pointer;
}

div.hidden {
	display: none;
}